In [1]:
from faker import Faker

fake = Faker()

jumlah_data = 10
dummy_data = []

for _ in range(jumlah_data):
    nama = fake.name()
    nomor_telepon = fake.phone_number()
    alamat = fake.address()
    email = fake.email()
    data = f"Nama: {nama}\nNomor Telepon: {nomor_telepon}\nAlamat:{alamat}\nEmail: {email}\n"
    dummy_data.append(data)

file_name = "dummy_data.txt"
with open(file_name, "w") as file:
    for data in dummy_data:
        file.write(data + "\n")

print(f"{jumlah_data} data dummy telah disimpan dalam {file_name}.")

10 data dummy telah disimpan dalam dummy_data.txt.

In [2]:
import re

pattern = r"[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z.]+"

with open("dummy_data.txt", "r") as f:
    data = f.readlines()

emails = []

for line in data:
    match = re.search(pattern, line)
    if match:
        emails.append(match.group())
print(emails)

['cherylramos@example.com', 'reynoldssean@example.org', 'gary97@example.com', 'irussell@example.org', 'matthew96@example.net', 'hoganalexander@example.net', 'suttongary@example.com', 'frederickangela@example.net', 'pamela03@example.com', 'april25@example.com']

In [3]:
with open("dummy_data.txt", "r") as f:
    teks = f.readlines()
    text = "".join(teks)

pola_nomor_telepon = r'Nomor Telepon:\s+([\d+()-]+)'
nomor_telepon = re.findall(pola_nomor_telepon, text)

nums = []

for num in nomor_telepon:
    num = re.sub(r'\s+', '', num, flags=re.I)
    
    num = re.sub(r'\W', '', num)
    nums.append(num)
    
nums

['14144763110',
 '4377236824',
 '13323792077',
 '19036121656',
 '906',
 '12966359093',
 '9258600894',
 '0015143306890',
 '17622230443',
 '12832915434']

In [4]:
import pandas as pd
pd.DataFrame({"email": emails, "nomor_telepon": nums})

                         email  nomor_telepon
0      cherylramos@example.com    14144763110
1     reynoldssean@example.org     4377236824
2           gary97@example.com    13323792077
3         irussell@example.org    19036121656
4        matthew96@example.net            906
5   hoganalexander@example.net    12966359093
6       suttongary@example.com     9258600894
7  frederickangela@example.net  0015143306890
8         pamela03@example.com    17622230443
9          april25@example.com    12832915434